<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div class="container text-center">
        <h1 class="mt-5">Welcome!</h1>
        <h2 class="text-center mt-5 text-primary">Hello from the home page!</h2>
        <btn class="btn btn-primary" id="example-button">Click Here For This Button To Turn RED!</btn>
    </div>
    <script src="{{ url_for('static', filename='index.bundle.js') }}"></script>
</body>
</html>
